.headerContainer {
  height: 4rem;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2000;
  border-bottom: 1px solid var(--yellow-500);
  
}

.headerContent {
  max-width: 1120px;
  height: 4rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;

    a {
      cursor: pointer;
    }
  }
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 700;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    a {
      display: inline-block;
      position: relative;
      color: var(--gray-700);
      margin-right: 2rem;

      &:after {
        display: block;
       
        border-bottom: solid 3px var(--yellow-500);
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:after {
        transform-origin: 100% 50%;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
      }
    }
  }
  @media(max-width: 870px) {
    display: none;
}
}

.headerButton {
  cursor: pointer;
  height: 2.5rem;
  background-color: transparent;
  border: solid 2px var(--yellow-500);
  padding: 6px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--yellow-500);
  transition: 0.3s ease-out;

  &:hover {
    background-color: var(--yellow-500);
    color: var(--white);
  }
}

@media (max-width: 870px) {


  .headerNav {
    nav {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .headerButton {
    display: none;
  }
}



.navBar {
  svg {
    display: none;
  }
  @media(max-width: 870px) {
      svg {
     
      display: block;
      color: black;
      width: 30px;
      height: 30px;
      cursor: pointer;
      
    }
  }
}